---
export interface Props {
  title: string;
}

const { title, frontmatter } = Astro.props;
const df = new Intl.DateTimeFormat("en-CA");
const date = df.format(new Date(frontmatter.date));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <a href="/">return home</a>
      <header>
        <h1>{frontmatter.title}</h1>
        <p>{date}</p>
        <p><span class="status" data-state={frontmatter.status}>{frontmatter.status}</span></p>
      </header>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  pre {
    padding: 1.25em;
    border-radius: 6px;
  }
  code {
    line-height: 1.2rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  span.status {
    padding: 0.5em 1.0em;
    border-radius: 20px;
  }

  span[data-state='solved'] {
    color: #5f3dc4;
    background: #e5dbff;
    border: 1px solid #7950f2;
  }
</style>
